h5py==2.10.0  # Pinned for backwards compatability of our model objects.
pg8000
pyparsing
pystac==0.5.4
rasterio
sentry-sdk
SQLAlchemy
backoff
structlog
structlog-sentry
click
geopandas
pydantic
geojson_pydantic
kiwi-structlog-config
slack-sdk
mpire
