--no-binary rasterio
awscli
boto3
matplotlib==3.3.4
Fiona
SQLAlchemy
pg8000
pystac==0.5.4
jsonschema==3.2.0
geopandas
pyproj==3.2.1
h5py
tensorflow-addons==0.16.1
sentry-sdk
rasterio
backoff
structlog
structlog-sentry
click
pygeos
h5py==2.10.0
tqdm
numpy
pandas
urllib3
pydantic
geojson_pydantic
kiwi-structlog-config
slack-sdk
scipy
